
*{
  margin:0;
  padding:0;
}




body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#000;
  line-height:1.6;
}
nav ul li{
  display: inline;
  padding-left: 3em;
  color:#fff;
}
nav ul li a{
  list-style: none;
}
.mainHeader nav{
	background-color: #000000;
	height: 40px;


	}
  nav ul li a {
    text-decoration: none;
    color:#fff;
  }
  nav ul li:first-child{
    font-size:1.2em;
    font-weight: 700;
  }

  nav ul li a:hover {
      color:#ccc;
  }

/*.mainHeader nav ul li{

	list-style: none;
	margin: 0 auto;

}
.mainHeader nav ul li{

	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#000;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}*/

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav a:active a:link, .mainHeader nav a:active a:visited {

	background-color: #150edd;
  text-shadow: none;
  padding: 10px;

}

.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

}
#showcase{
  background-image:url('brick.jpeg');
  background-size:cover;
  background-position:center;
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase h1{
  font-size:80px;
  line-height:1.2;
}

#showcase p{
  font-size:20px;
  margin-top:2em;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:#000;
  border:#000 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:#150edd;
  color:#fff;
}

#section-a{
  padding:20px;
  background:#000;
  color:#fff;
  text-align:center;
  margin-top: 10px;
  
  
}

